#content {
    display: flex;
    flex-direction: row;
}

.right {
    width: 60%;;
}

table {
    border: 1px solid green;
    border-collapse: collapse;
}

th {
    border: 1px solid red;
}

td {
    border: 1px solid blue;
}

article {
    border: 1px solid red;
}

.left{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 40%;
    background-color: aquamarine;
}

    

