#content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left{
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: aquamarine;
}

.right {
    background-color: bisque;
    margin-left:20%;
    overflow: hidden;
}

table {
    border: 1px solid green;
    border-collapse: collapse;
}

th {
    border: 1px solid red;
}

td {
    border: 1px solid blue;
}

article {
    border: 1px solid red;
    margin: 20px;
    padding:10px;
}



body{
    margin: 0;
    width: 100%;
}

